*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.fixed img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   margin: 20px;
    border: 10px solid #343a40;
}
.fixed{
    background-color: #111418;
    width: 20%;
    height: 100vh;
    text-align: center;
    position: fixed;
}
.fixed h2{
    color: #fff;
}
.fixed a{
    text-decoration: none;
    color: #abaca5;
    font-weight: bold;

}
.fixed a:hover{
    color: #20C997;
}
ul li{
    padding-top: 30px;
}
.platform{
   position: absolute;
   bottom: 10px;
   left: 10%;
   
}
.platform a{
    padding-left: 20px;
}
.home{
  width: 80%;
  margin-left: 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.918),rgba(0, 0, 0, 0.562)), url(di.jpg);
  height: 100vh;
  background-size: cover;
  text-align: center;
 
}
.homeco{
    padding-top: 20%;
    color: #fff;
}
.homeco h1{
    font-size: 52px;
    margin-top: 20px;
    font-weight: bold;
}
.homeco button{
    padding: 10px 40px;
    background-color: transparent;
    color: #20C997;
    border: 2px solid #20C997;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: bold;
}
.homeco button:hover{
    background-color: #20C997;
    color: #fff;
}
.homeco p{
    margin-top: 10px;
    font-weight: bold;
}
.about{
    margin-left: 20%;
    background-color: #212529;
    height: 100vh;
    padding-bottom: 50px;
}
.abhe h1{
    font-size: 128px;
    text-align: center;
    color: #282d31;
    user-select: none;
    font-family: sans-serif;
    padding-top: 10%;
}
.abhe h2{
    position: relative;
    top: -100px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    
   
}
.abhe hr{
    position: relative;
    top: -90px;
  width: 10%;
  margin: auto;
 border: 2px solid #20C997;
}
::selection{
    background-color: #20C997;
    color: #fff;
}
.abmain{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.desc{
    width: 60%;
}
.abmain p{
    color: #909283;
    margin-top: 20px;
    font-size: 17px;
    
}
span{
    color: #20C997;
}
.info{
 width: 30%;
}
.info h4{
margin-top: 10px;
}
.info hr{
    margin-top: 20px;
    border: 1px solid gray;
    width: 100%;
}
.info button{
    padding: 10px 40px;
    margin-top: 50px;
    background-color: #20C997;
    color: #fff;
    border: transparent;
    font-weight: bold;
}
.pro{
    display: flex;
    justify-content: space-around;
  margin-top: 60px;
}
.pro h1{
    color: #909283;
    text-align: center;
    font-size: 40px;
   
}
.pro h3{
    color: #fff;
 
}
/* What I Do Section */
.do{
    margin-left: 20%;
    background-color: #343a40;
    height: 100vh;
}
.dohe h1{
    font-size: 128px;
    text-align: center;
    color: #3e4449;
    user-select: none;
    font-family: sans-serif;
    padding-top: 5%;
}
.dohe h2{
    position: relative;
    top: -100px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    
   
}
.dohe hr{
    position: relative;
    top: -90px;
  width: 10%;
  margin: auto;
 border: 2px solid #20C997;
}
.domain{
    display: flex;
  margin-left: 30px;
  justify-content: space-around;
}
.domain i{
    color: #20C997;
    font-size: 30px;
    background-color: #111418;
    padding: 15px;
    border-radius: 10px;
}
.domain h1{
    margin-left: 80px;
    position: relative;
    top: -57px;
  color: #fff;
}
.domain p{
    margin-left: 80px;
    position: relative;
    top: -55px;
    color: gray;
}
.left{
    width: 40%;
}
.right{
    width: 40%;
}

/* Resume Section */
.resume{
    margin-left: 20%;
    background-color: #212529;
    height: 100vh;
    padding-bottom: 8%;
}
.remain{
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
}
.ex{
    width: 40%;
}
.ed{
    width: 40%;
}
.hig{
    background-color: #dc3545;
    color: #fff;
    padding: 3px;
    width: 15%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -10px;
}

.back{
    background-color: #111418;
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    height: 35%;
    border-radius: 10px;
}
.back h4{
    color: #20C997;
    padding: 10px;
}
.back p{
    color: gray;
}
.back li{
    color: gray;
}
.ex h1{
color: #fff;
}
.ed h1{
    color: #fff;
}
/* Contact Section */
.contact{
    margin-left: 20%;
    background-color: #343a40;
    height: 100vh;
}
.comain{
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    margin-right: 30px;
    color: #fff;
}
.add{
    width: 20%;
}
.msg{
    width: 80%;
}
textarea{
    width: 100%;
    margin-top: 20px;
    background-color: #282d31;
    border: transparent;
    border-radius: 5px;
}
input{
    width: 45%;
    padding: 15px;
    background-color: #282d31;
    border: transparent;
    border-radius: 5px;
}
.fr p{
    position: relative;
    top: -20px;
    margin-left: 30px;
    color: #909283;
}
.fr{
    margin-top: 60px;
}
.add h1{
    margin-bottom: 10px;
}
.follow h1{
    margin-top: 10px;
    
}
.follow i{
    margin-top: 20px;
    padding-left: 20px;
}
.msg button{
    padding: 10px 40px;
    margin-top: 5px;
    background-color: #20C997;
    color: #fff;
    border: transparent;
    font-weight: bold;
    
}